In [4]:
import pandas as pd
import plotly.offline as po
import plotly.graph_objs as go

In [64]:
df = pd.read_excel('nba2021.xlsx')
df.head()

        date          match   winner  point_winner     loser  point_loser
0 2021-10-03    Lakers-Nets     Nets           123    Lakers           97
1 2021-10-04  Raptors-76ers  Raptors           123     76ers          107
2 2021-10-04     Heat-Hawks     Heat           125     Hawks           99
3 2021-10-04  Celtics-Magic  Celtics            98     Magic           97
4 2021-10-04   Tim-Pelicans      Tim           117  Pelicans          114

In [65]:
#organizando uma list em ordem alfabetica
#lista = list(df['winner'].unique())

In [67]:
#primeiro temos que ordenar a coluna que queremos ordenar dentro do Df e usar o seguinte código
df.sort_values(by=['winner'], inplace=True)
#esse código está organizando o Df pela a ordem da coluna Winner e notamos q o index fica todo remexido
#importante usar inplace=True pois temos que alterar o Df.

In [100]:
lista = list(df['winner'].unique())
lista

['76ers',
 'Blazers',
 'Bucks',
 'Bulls',
 'Cavaliers',
 'Celtics',
 'Clippers',
 'Grizzlies',
 'Hawks',
 'Heat',
 'Hornets',
 'Jazz',
 'Kings',
 'Knicks',
 'Lakers',
 'Magic',
 'Mavericks',
 'Nets',
 'Nuggets',
 'Pacers',
 'Pelicans',
 'Pistons',
 'Raptors',
 'Rockets',
 'Spurs',
 'Suns',
 'Thunder',
 'Tim',
 'Warriors',
 'Wizards']

In [83]:
match = df[(df['match'] == 'Lakers-Warriors') | (df['match'] == 'Warriors-Lakers')]
match

         date            match    winner  point_winner   loser  point_loser
30 2021-10-08  Warriors-Lakers  Warriors           121  Lakers          114
67 2021-10-19  Lakers-Warriors  Warriors           121  Lakers          114
46 2021-10-12  Lakers-Warriors  Warriors           111  Lakers           99

In [ ]:
#agora vamos testar GRaficos

In [85]:
fig = po.plot([{
    'x':match.match,
    'y':match.winner
}])

In [90]:
po.plot([{
    'x':match.date,
    'y':match[col],
    'name':col
} for col in (match.columns[2], match.columns[4])])

'temp-plot.html'

In [92]:
po.plot([
    go.Scatter(
        x=match.date,
        y=match.winner,
        mode='markers'
    )
])

'temp-plot.html'

In [93]:
data = [go.Scatter(
    x = match.date,
    y = match.winner,
    mode = 'markers'
)]

In [101]:
layout = go.Layout(title='Vitoria', xaxis= dict(title='date'), yaxis=dict(title='win'), hovermode='closest')
figure = go.Figure(data = data, layout = layout)

In [102]:
po.plot(figure)

'temp-plot.html'

In [103]:
df.head()

          date           match winner  point_winner     loser  point_loser
184 2021-11-04   Pistons-76ers  76ers           109   Pistons           98
159 2021-11-01   76ers-Blazers  76ers           113   Blazers          103
147 2021-10-30     76ers-Hawks  76ers           122     Hawks           94
73  2021-10-20  Pelicans-76ers  76ers           117  Pelicans           97
40  2021-10-11      76ers-Nets  76ers           115      Nets          104

In [114]:
graf = [go.Bar(
    x = df.date,
    y = df.point_winner,
)]

In [115]:
layout = go.Layout(title="TEstando")
fig2 = go.Figure(data = graf, layout=layout)

In [116]:
po.plot(fig2)

'temp-plot.html'