In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_excel('nba2021.xlsx')
df.head()

        date          match   winner  point_winner     loser  point_loser
0 2021-10-03    Lakers-Nets     Nets           123    Lakers           97
1 2021-10-04  Raptors-76ers  Raptors           123     76ers          107
2 2021-10-04     Heat-Hawks     Heat           125     Hawks           99
3 2021-10-04  Celtics-Magic  Celtics            98     Magic           97
4 2021-10-04   Tim-Pelicans      Tim           117  Pelicans          114

In [11]:
somawin = df['point_winner'].sum()
somaloser = df['point_loser'].sum()

In [23]:
dic = {'win' : float(somawin), 'loser': float(somaloser)}
print(dic)
print(type(dic))

{'win': 46767.0, 'loser': 41668.0}
<class 'dict'>

In [25]:
j = json.dumps(dic)
print(j)
print(type(j))

{"win": 46767.0, "loser": 41668.0}
<class 'str'>