# Alguma estatisticas sobre os jogos passados da nba

## Importando os dados

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('nba2021.xlsx')
df.head()

        date          match   winner  point_winner     loser  point_loser
0 2021-10-03    Lakers-Nets     Nets           123    Lakers           97
1 2021-10-04  Raptors-76ers  Raptors           123     76ers          107
2 2021-10-04     Heat-Hawks     Heat           125     Hawks           99
3 2021-10-04  Celtics-Magic  Celtics            98     Magic           97
4 2021-10-04   Tim-Pelicans      Tim           117  Pelicans          114

# Analise exploratoria

## O que queremos entregar
-Quantidade de vitoria time A 

-Quantidade de vitoria time B

-Quantidade de derrota time A

-Quantidade de derrota time B

-Quantos confrontos os dois times ja tiveram

-Média de pontos entre os dois times

### Código

In [97]:
a= 'Knicks'
b= '76ers'
def estatisticas(a, b):
    dadosA = df[df['winner'] == a].copy()
    vitA = len(dadosA)
        
    dadosB = df[df['winner'] == b].copy()
    vitB = len(dadosB)
    
    dadoA = df[df['loser'] == a].copy()
    derrA = len(dadoA)
    
    dadoB = df[df['loser'] == b].copy()
    derrB = len(dadoB)
    print(f'''Time      Vitória   Derrota
{a}      {vitA}        {derrA}
{b}      {vitB}        {derrB}''')
    
    j_entreBA = df[df['match'] == f'{b}-{a}'].copy()
    j_entreAB = df[df['match'] == f'{a}-{b}'].copy()
    
    if (len(j_entreBA) == 0) & (len(j_entreAB) != 0):
        print('Total de jogos entre eles: ', len(j_entreAB))
        display(j_entreAB)
    
    elif (len(j_entreBA) != 0) & (len(j_entreAB) == 0):
        print('Total de jogos entre eles: ', len(j_entreBA))
        display(j_entreBA)
    
    elif (len(j_entreBA) == 0) & (len(j_entreAB) == 0):
        print('Total de jogos entre eles: ', "ZERO")
    
    else:
        print('Total de jogos entre eles: ', len(j_entreBA) + len(j_entreAB))
        display(j_entreAB)
        display(j_entreBA)
    
    return

# Resultado final

In [101]:
estatisticas('Lakers', 'Warriors')

Time      Vitória   Derrota
Lakers      5        11
Warriors      13        1
Total de jogos entre eles:  3

         date            match    winner  point_winner   loser  point_loser
46 2021-10-12  Lakers-Warriors  Warriors           111  Lakers           99
67 2021-10-19  Lakers-Warriors  Warriors           121  Lakers          114

         date            match    winner  point_winner   loser  point_loser
30 2021-10-08  Warriors-Lakers  Warriors           121  Lakers          114