In [1]:
import pandas as pd
import requests as r


url = 'https://raw.githubusercontent.com/batistajoao54/portifolio-desenvolvendo/main/dados.csv'
res = r.get(url)
tabela = res.text

separados = tabela.split()
#nome = separados.split(',')

In [13]:
dados = []

for i in range(len(separados)):
    palavra = separados[i]
    linha = palavra.split(',')
    dados.append(linha)
    

data = []

for i in dados[1:]:
    datas= i[0]
    data.append(datas)
    
   
nome = []

for i in dados[1:]:
    nomes= i[1]
    nome.append(nomes)
    

marca = []

for i in dados[1:]:
    marcas= i[2]
    marca.append(marcas)
    

#tipo = []

#for i in dados[1:]:
#    tipos= i[3]
#    tipo.append(tipos)

print(nome)

['bebemania', 'marbelle', 'marbelle', 'marbelle', 'dubali', 'oliver', 'oliver', 'eduardobaby', 'oliver', 'saidadematernidade', 'marbelle', 'gabrielecardoso', 'israelbaby', 'loli', 'dldvariedades', 'dubali', 'marbelle', 'mad', 'pingodeouro']

In [15]:
tipo = []

for i in dados[1:]:
    tipos= i[3]
    tipo.append(tipos)
print(tipo)

['rosaeazul', 'maniaamarela', 'amarelacomrosas', 'maniaamarela', 'kids', 'azulescuro', 'azulescuro', '16', 'azulescuro', 'comum', 'kitfiotampa', 'comum', '16', 'comum', 'comum', 'kids', 'maniaroxa', 'comum', '24']

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/batistajoao54/portifolio-desenvolvendo/main/deposito.csv')

produto = "exito"

In [8]:
df_produto = df[df['marca'] == produto].copy()

df

          data            marca                        produto  quantidade
0   12-05-2022  valentinna_kids                         sacola         424
1   12-05-2022  rainha_do_norte                sacola_les_ames         193
2   12-05-2022  rainha_do_norte                sacola_les_ames         300
3   12-05-2022  arte_de_brincar                         sacola         260
4   12-05-2022       monza_baby                    tapeta_16cm        4000
5   12-05-2022       monza_baby                    tapeta_14cm        4000
6   12-05-2022  bene_confeccoes                  sacola_grande         250
7   12-05-2022            exito                   sacola_verde         110
8   12-05-2022            exito                    sacola_rosa         310
9   12-05-2022        dona_flor                         sacola         154
10  12-05-2022        dona_flor                         sacola         200
11  13-05-2022  arte_de_brincar                         sacola         376
12  13-05-2022            exito                    caixa_verde         500
13  13-05-2022            exito                    caixa_preta         500
14  14-05-2022         marbelle             papel_seda_25x25cm        1600
15  14-05-2022         marbelle            caixa_taca_vermelha         571
16  14-05-2022         marbelle          tag_cx_taca_vermelaha         571
17  14-05-2022         marbelle  tag_redondo_cx_taca_vermelaha         571