In [43]:
import random
import pandas as pd

In [102]:
os = ['OS000001']
colador = ['fabiana','diomar','gerlucio','rikelme','wescley','toin','sr.carlos']
marca = ['marbelle']
cor = ['azul','preta','vermelha']
tamanho = ['P','M','M2','G']
quantidade = [100,200,250,300,500,50]
pegou_entregou = ['pegou','entregou']

In [103]:
lista_OS = []
lista_colaborador = []
lista_marca = []
lista_cor = []
lista_tamanho = []
lista_quantidade = []
lista_status = []

In [104]:
for i in range(100):
    lista_OS.append(random.choice(os))
    lista_colaborador.append(random.choice(colador))
    lista_marca.append(random.choice(marca))
    lista_cor.append(random.choice(cor))
    lista_tamanho.append(random.choice(tamanho))
    lista_quantidade.append(random.choice(quantidade))
    lista_status.append(random.choice(pegou_entregou))

print('fim')

fim

In [105]:
df = pd.DataFrame()

In [106]:
df['OS'] = lista_OS
df['Marca'] = lista_marca
df['Tamanho'] = lista_tamanho
df['Cor'] = lista_cor
df['Colador'] = lista_colaborador
df['Quantidade'] = lista_quantidade
df['Status'] = lista_status

In [107]:
df.head()

         OS     Marca Tamanho       Cor   Colador  Quantidade    Status
0  OS000001  marbelle       G     preta      toin         500     pegou
1  OS000001  marbelle       M     preta  gerlucio         100  entregou
2  OS000001  marbelle       P     preta  gerlucio         250  entregou
3  OS000001  marbelle      M2  vermelha   rikelme         250  entregou
4  OS000001  marbelle      M2      azul    diomar         200  entregou

In [108]:
df_marca = df.groupby(['OS','Marca','Tamanho','Cor','Colador','Quantidade','Status']).any().reset_index()

In [109]:
df_marca

          OS     Marca Tamanho       Cor    Colador  Quantidade    Status
0   OS000001  marbelle       G      azul    fabiana          50  entregou
1   OS000001  marbelle       G      azul    fabiana         100     pegou
2   OS000001  marbelle       G      azul    rikelme         300     pegou
3   OS000001  marbelle       G      azul  sr.carlos         250  entregou
4   OS000001  marbelle       G      azul  sr.carlos         500     pegou
..       ...       ...     ...       ...        ...         ...       ...
89  OS000001  marbelle       P  vermelha    rikelme         500     pegou
90  OS000001  marbelle       P  vermelha  sr.carlos          50  entregou
91  OS000001  marbelle       P  vermelha  sr.carlos          50     pegou
92  OS000001  marbelle       P  vermelha       toin         500     pegou
93  OS000001  marbelle       P  vermelha    wescley          50  entregou

[94 rows x 7 columns]

In [111]:
df_G = df_marca[df_marca['Tamanho'] == 'G']
df_M2 = df_marca[df_marca['Tamanho'] == 'M2']
df_M = df_marca[df_marca['Tamanho'] == 'M']
df_P = df_marca[df_marca['Tamanho'] == 'P']

In [133]:
df_P_azul = df_P[df_P['Cor'] == 'azul']
df_P_preta = df_P[df_P['Cor'] == 'preta']
df_P_vermelha = df_P[df_P['Cor'] == 'vermelha']

In [136]:
df_P_vermelha[df_P_vermelha['Status'] == 'pegou'].Quantidade.sum()

1150

In [ ]:
'''
os1 marbelle G azul 1150
os1 marbelle G preta 1250
os1 marbelle G vermelha 900

os1 marbelle M2 azul 1400
os1 marbelle M2 preta 1200
os1 marbelle M2 vermelha 700

os1 marbelle M azul 750
os1 marbelle M preta 250
os1 marbelle M vermelha 700

os1 marbelle P azul 950
os1 marbelle P preta 500
os1 marbelle P vermelha 1150


'''

In [ ]:
df.to_csv("dados.csv", index=False)