In [1]:
import pandas as pd

In [2]:
import tratando_os

In [3]:
#carregando os dados que tem apenas as OS que ainda estão ativas
df_os = tratando_os.dados_os()
df_os

,DIA,MES,ANO,OS,MARCA,TAMANHO,COR,COLADOR,QUANTIDADE,STATUS,PAGO
0,1.0,10.0,2022.0,OS001096/01M,DELLAWER,M,ADULTO,IDEZ,500,TOTAL OS,N
2,21.0,9.0,2022.0,OS001080/01K,MARBELLE,M,KIDS,IDEZ,3000,TOTAL OS,N
4,19.0,9.0,2022.0,OS001080/03P,MARBELLE,P,PRETA,IDEZ,1000,TOTAL OS,N
6,5.0,9.0,2022.0,OS001063,CARIOCA DAS MARCAS,M,PRETA,IDEZ,1000,TOTAL OS,N
8,30.0,9.0,2022.0,OS009999/DUP,SACOLA,M,DUPLEX BRANCA,IDEZ,320,TOTAL OS,N
10,21.0,10.0,2022.0,OS001108/03VCp,MARBELLE,P,VERDE CLARO,IDEZ,1000,TOTAL OS,N
12,21.0,10.0,2022.0,OS001108/03VMp,MARBELLE,P,VERDE MILITAR,IDEZ,1000,TOTAL OS,N
14,21.0,10.0,2022.0,OS001108/03VCM,MARBELLE,M,VERDE CLARO,IDEZ,1000,TOTAL OS,N
16,21.0,10.0,2022.0,OS001108/03PM,MARBELLE,M,PRETO,IDEZ,1000,TOTAL OS,N
18,25.0,11.0,22.0,OS001031,IRISBELA,M,ROSA,IDEZ,1000,TOTAL OS,N
20,26.0,11.0,2022.0,OS001108/3PM2,MARBELLE,M2,PRETA,IDEZ,1000,TOTAL OS,N
21,21.0,11.0,2022.0,OS001108/VM2,MARBELLE,M2,VERDE MILITAR,IDEZ,1000,TOTAL OS,N
22,29.0,11.0,2022.0,OS000000/01HM,HM CONCEITO,M,BRANCO C/ LARANJA,IDEZ,109,TOTAL OS,N
23,29.0,11.0,2022.0,OS000000/01TS,TS Style,M,LILAS,IDEZ,105,TOTAL OS,N
24,29.0,11.0,2022.0,OS000000/01JM,JOAO E MARIA,P,COLORIDA,IDEZ,275,TOTAL OS,N

In [4]:
#carregando os dados com os coladores
df_coladores = pd.read_excel("03-entrada e saida.xlsx")
df_coladores.head()

,DIA,MES,ANO,OS,MARCA,TAMANHO,COR,COLADOR,QUANTIDADE,STATUS,PAGO
0,30,9,2022,OS001096/01P,DELLAWER,P,KIDS,LEDA,500,ENVIADO,S
1,23,9,2022,OS001056/01R,EXITO,M,ROSA,LEDA,250,ENVIADO,S
2,23,9,2022,OS001080/01K,MARBELLE,M,KIDS,FABIANA,500,ENVIADO,S
3,23,9,2022,OS001080/01K,MARBELLE,M,KIDS,LEDA,180,RECEBIDO,S
4,23,9,2022,OS001080/01K,MARBELLE,M,KIDS,GERLUCIO,62,RECEBIDO,S

In [5]:
lista_os = df_os['OS'].unique()
lista_os

array(['OS001096/01M', 'OS001080/01K', 'OS001080/03P', 'OS001063',
       'OS009999/DUP', 'OS001108/03VCp', 'OS001108/03VMp',
       'OS001108/03VCM', 'OS001108/03PM', 'OS001031', 'OS001108/3PM2',
       'OS001108/VM2', 'OS000000/01HM', 'OS000000/01TS', 'OS000000/01JM'],
      dtype=object)

In [16]:
for i in lista_os:
    df_ativos = pd.read_excel('06-dados_ativos.xlsx')
    df = df_coladores[df_coladores['OS'] == i]
    df_ativos = pd.concat([df_ativos,df])
    df_ativos = df_ativos.drop_duplicates()
    df_ativos.to_excel('06-dados_ativos.xlsx', index=False)

In [19]:
#juntando em um só arquivo os dados OS e os dados Coladores
df_final = pd.concat([df_os,df_ativos])
df_final.to_excel('04-dados-Os-Coladores-ativos.xlsx',index=False)

In [21]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 0 to 214
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DIA         67 non-null     float64
 1   MES         67 non-null     float64
 2   ANO         67 non-null     float64
 3   OS          67 non-null     object
 4   MARCA       67 non-null     object
 5   TAMANHO     67 non-null     object
 6   COR         67 non-null     object
 7   COLADOR     67 non-null     object
 8   QUANTIDADE  67 non-null     int64
 9   STATUS      67 non-null     object
 10  PAGO        67 non-null     object
dtypes: float64(3), int64(1), object(7)
memory usage: 6.3+ KB